argcomplete==1.10.0
atomicwrites==1.3.0
attrs==19.1.0
boto3==1.9.161
botocore==1.12.161
coverage==4.5.3
docutils==0.14
filelock==3.0.12
importlib-metadata==0.17
jmespath==0.9.4
lml==0.0.9
lxml==4.3.4
more-itertools==7.0.0
packaging==19.0
pathlib2==2.3.3
pluggy==0.12.0
py==1.8.0
pyexcel==0.5.14
pyexcel-ezodf==0.3.4
pyexcel-io==0.5.18
pyexcel-ods3==0.5.3
pyparsing==2.4.0
python-dateutil==2.8.0
PyYAML==5.1
s3transfer==0.2.1
six==1.12.0
texttable==1.6.1
toml==0.10.0
urllib3==1.25.3
virtualenv==16.6.1
wcwidth==0.1.7
zipp==0.5.1
